.user-data-block {
  background-color: #c5c5c5;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: "Send Flowers", cursive;
}

.loading-block {
  font-family: "Send Flowers", cursive;
  font-size: 50px;
  color: #3e2723;
}
